<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>资产查询</title>
		<link rel="stylesheet" href="common_assets/css/border.css">
		<link rel="stylesheet" href="common_assets/css/reset.css">
		<link rel="stylesheet" href="common_assets/font/iconfont.css">
		<link rel="stylesheet" href="common_assets/css/common.css">
		<link rel="stylesheet" href="common_assets/css/fakeLoader.css">
		<link rel="stylesheet" href="common_assets/css/vue.css">
		<link rel="stylesheet" href="css/scrollBar.css">
		<link rel="stylesheet" href="css/inside.css">
		<link rel="stylesheet" href="css/xianchang.css">
		<link rel="stylesheet" href="css/inside_new.css" />
		<link rel="stylesheet" href="css/dropload.css" />
		<script src="common_assets/js/vconsole.min.js"></script>
		<script src="common_assets/js/jquery.js"></script>
		<script src="common_assets/js/fakeLoader.min.js"></script>
		<script src="common_assets/js/lib.js"></script>
		<script src="common_assets/js/vue.min.js"></script>
	</head>

	<body class="kc1">
		<div class="fakeloader"></div>
		<div id="app" v-cloak>
			<!-- 头部 -->
			<div class="hd-mob">
				<i class="back iconfont icon-xiazai6 js-back"></i>
				<div class="headTitle">资产查询</div>
			</div>
			<!-- 头部 -->
			<!-- 内容 -->
			<div class="main" style="overflow: hidden;">
				<div class="xianchang-v1">
					<div class="tab-my-new">
						<div class="clearFlex tab-xc">
							<a :class="{'active': selectTab === 1}" href="/recordLists2.html" @click="changeTab(1)">全部</a>
							<a :class="{'active': selectTab === 2}" href="/recordLists3.html" @click="changeTab(2)">电能表</a>
							<a :class="{'active': selectTab === 3}" href="/recordLists4.html" @click="changeTab(3)">互感器</a>
							<a :class="{'active': selectTab === 4}" href="/recordLists5.html" @click="changeTab(4)">采集终端</a>
							<a :class="{'active': selectTab === 5}" href="/recordLists6.html" @click="changeTab(5)">SIM卡</a>
						</div>
					</div>
				</div>
				<div class="container m-scro1" id="itemLists1" v-if="selectTab === 1">
					<ul class="meter-view ul-scroll01">
						<block v-for="(item,index) in listSearch" :key="index">
							<li v-if="item.assetName === '电能表'">
								<div class="" @click="chechMeterMsg(item)">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>电能表</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span class="title">供电单位：</span><span>打发十分健康那你擦解放拉萨地方</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span class="title">出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">电压：</span><span>{{item.voltCodeName }}</span>
													<!-- <span>电压：</span><span>220V</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.modelCodeName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">电流：</span><span>{{item.ratedCurrentName}}</span>
													<!-- <span>电流：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.typeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">接线方式：</span><span>{{item.wiringModeName}}</span>
													<!-- <span>接线方式：</span><span>低供</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li v-if="item.assetName === '互感器'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>互感器</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span>供电单位：<pan><span>国家电网</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span>出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">电压：</span><span>{{item.voltCodeName }}</span>
													<!-- <span>电压变比：</span><span>220V</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.modelCodeName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">电流变比：</span><span>{{item.rcRatioCodeName}}</span>
													<!-- <span>电流变比：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.typeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li v-if="item.assetName === '采集终端'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>采集终端</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<!-- <span class="title">供电单位：</span><span>{{item.orgName}}</span> -->
													<span class="title">供电单位：</span><span>国家电网</span>
												</div>
												<div class="menu-dal">
													<span class="title">采集方式：</span><span>{{item.collModeName}}</span>
													<!-- <span>采集方式：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.idName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
												<div class="menu-dal ">
													<span class="title">终端地址：</span><span>{{item.terminalAddr}}</span>
													<!-- <span>终端地址：</span><span>AMSP-PRO550PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">通信规约：</span><span>{{item.protocolCodeName}}</span>
													<!-- <span>通信规约：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.statusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.terminalTypeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li v-if="item.assetName === '计量箱'">
								<div class="" @click="chechMeterBoxMsg(item)">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>计量箱</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span>供电单位：</span><span>国家电网</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">类别：</span><span>{{item.sortCodeName}}</span>
													<!-- <span>类别：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">材料类型：</span><span>{{item.dataTypeCodeName}}</span>
													<!-- <span>材料类型：</span><span>220V</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.statusCodeName}}</span>
													<!-- <span>资产状态：</span><span>AMSP-PRO550</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li v-if="item.assetName === 'sim卡'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>SIM卡</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span>供电单位：</span><span>国家电网</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span>出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">IP地址：</span><span>{{item.remark}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
												</div>
												<!-- <div class="menu-dal add-dec"> -->
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
												</div>
												<!-- <div class="menu-dal add-dec"> -->
												<div class="menu-dal">
													<span class="title">条形码：</span><span>{{item.barCode}}</span>
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">库房：</span><span>{{item.dwname}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">库区：</span><span>{{item.dwaname}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">存放区：</span><span>{{item.storeAreaName}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</block>
					</ul>
				</div>
				<div class="container m-scro2" id="itemLists2" v-if="selectTab === 2">
					<ul class="meter-view ul-scroll02">
						<block v-for="(item,index) in elcMeterArr" :key="index">
							<li v-if="item.assetName === '电能表'">
								<div class="" @click="chechMeterMsg(item)">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>电能表</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span class="title">供电单位：</span><span>打发十分健康那你擦解放拉萨地方</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span class="title">出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">电压：</span><span>{{item.voltCodeName }}</span>
													<!-- <span>电压：</span><span>220V</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.modelCodeName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">电流：</span><span>{{item.ratedCurrentName}}</span>
													<!-- <span>电流：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.typeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">接线方式：</span><span>{{item.wiringModeName}}</span>
													<!-- <span>接线方式：</span><span>低供</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</block>
					</ul>
				</div>
				<div class="container m-scro3" id="itemLists3" v-if="selectTab === 3">
					<ul class="meter-view ul-scroll03">
						<block v-for="(item,index) in inductorArr" :key="index">
							<li v-if="item.assetName === '互感器'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>互感器</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span>供电单位：<pan><span>国家电网</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span>出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">电压：</span><span>{{item.voltCodeName }}</span>
													<!-- <span>电压变比：</span><span>220V</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.modelCodeName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">电流变比：</span><span>{{item.rcRatioCodeName}}</span>
													<!-- <span>电流变比：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.typeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</block>
					</ul>
				</div>
				<div class="container m-scro4" id="itemLists4" v-if="selectTab === 4">
					<ul class="meter-view ul-scroll04">
						<block v-for="(item,index) in terminalArr" :key="index">
							<li v-if="item.assetName === '采集终端'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>采集终端</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<!-- <span class="title">供电单位：</span><span>{{item.orgName}}</span> -->
													<span class="title">供电单位：</span><span>国家电网</span>
												</div>
												<div class="menu-dal">
													<span class="title">采集方式：</span><span>{{item.collModeName}}</span>
													<!-- <span>采集方式：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">型号：</span><span>{{item.idName}}</span>
													<!-- <span>型号：</span><span>AMSP-PRO550</span> -->
												</div>
												<div class="menu-dal ">
													<span class="title">终端地址：</span><span>{{item.terminalAddr}}</span>
													<!-- <span>终端地址：</span><span>AMSP-PRO550PRO550</span> -->
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">通信规约：</span><span>{{item.protocolCodeName}}</span>
													<!-- <span>通信规约：</span><span>60A</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.statusCodeName}}</span>
													<!-- <span>资产状态：</span><span>正常</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">设备类型：</span><span>{{item.terminalTypeCodeName}}</span>
													<!-- <span>设备类型：</span><span>MML-669</span> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</block>
					</ul>
				</div>
				<div class="container m-scro5" id="itemLists5" v-if="selectTab === 5">
					<ul class="meter-view ul-scroll05">
						<block v-for="(item,index) in SIMCardArr" :key="index">
							<li v-if="item.assetName === 'sim卡'">
								<div class="">
									<div class="meter-header">
										<p><i class="left-tab"></i><span>SIM卡</span></p>
										<p v-html="'资产编号：'+item.assetNo"></p>
									</div>
									<div class="meter-menu">
										<div class="menu-container">
											<div class="meter-menu-left">
												<div class="menu-dal">
													<span class="title">供电单位：</span><span>{{item.orgName}}</span>
													<!-- <span>供电单位：</span><span>国家电网</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">出厂编号：</span><span>{{item.madeNo}}</span>
													<!-- <span>出厂编号：</span><span>201608120434</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">IP地址：</span><span>{{item.remark}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
													<!-- <span>制造单位：</span><span>山东德源电力</span> -->
												</div>
												<div class="menu-dal">
													<span class="title">资产状态：</span><span>{{item.curStatusCodeName}}</span>
												</div>
												<!-- <div class="menu-dal add-dec"> -->
												<div class="menu-dal">
													<span class="title">制造单位：</span><span>{{item.manufacturerName}}</span>
												</div>
												<!-- <div class="menu-dal add-dec"> -->
												<div class="menu-dal">
													<span class="title">条形码：</span><span>{{item.barCode}}</span>
												</div>
											</div>
											<div class="meter-menu-right">
												<div class="menu-dal">
													<span class="title">库房：</span><span>{{item.dwname}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">库区：</span><span>{{item.dwaname}}</span>
												</div>
												<div class="menu-dal">
													<span class="title">存放区：</span><span>{{item.storeAreaName}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</block>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="js/dropload.min.js"></script>
	<script src="js/searchList.js"></script>
	<script>
		new VConsole();
    document.addEventListener('PHJSReady', function (content) {
        var self = vm._data;
        self.inputCode = storate.getItem("inputCode_code");
        self.listSearch = JSON.parse(storate.getItem("hold_AssetsListSearch")) ? JSON.parse(storate.getItem("hold_AssetsListSearch")) : [];
    })
</script>
</html>
<style type="text/css">
	.kc1,
	#app {
		height: 100%;
	}

	.main {
		height: 100%;
		overflow: auto;
	}

	.title {
		color: rgba(11, 11, 11, 0.9);
	}

	.m-scro {
		margin-top: 1.2rem;
		height: calc(100% - 2rem);
		overflow: auto;
	}

	.m-scro1 {
		margin-top: 1.2rem;
		height: calc(100% - 2rem);
		overflow: auto;
	}

	.m-scro2 {
		margin-top: 1.2rem;
		height: calc(100% - 2rem);
		overflow: auto;
	}

	.m-scro3 {
		margin-top: 1.2rem;
		height: calc(100% - 2rem);
		overflow: auto;
	}

	.m-scro4 {
		margin-top: 1.2rem;
		height: calc(100% - 2rem);
		overflow: auto;
	}

	.meter-view {
		margin-top: 0;
	}

	.item-xc ul {
		margin-top: 0.8rem;
		width: 100%;
	}

	.item-xc ul li {
		padding: 0.2rem;
		border-bottom: 1px solid #ddd;
	}

	.ul-scroll01 .no-data-neew,
	.ul-scroll02 .no-data-neew,
	.ul-scroll03 .no-data-neew,
	.ul-scroll04 .no-data-neew,
	.ul-scroll05 .no-data-neew {
		text-align: center;
		padding: 0.26rem;
		font-size: 0.48rem;
		letter-spacing: 0.04rem;
		margin-bottom: 0.3rem;
		padding: 0.06rem 0.3rem 0.3rem;
		background: #FAFAFA;
		border-radius: 0.1rem;
		overflow: hidden;
		-webkit-box-shadow: rgba(250, 250, 250, 0.15) 0 0 3px 0;
		box-shadow: rgba(250, 250, 250, 0.15) 0 0 3px 0;

	}

	.clearFlex a {
		width: 30%;
	}

	.tab-xc {
		list-style-type: none;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0;
		overflow: auto;
	}

	.tab-xc a {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		padding: 0 5px;
		color: #25AAB1;
		font-size: 0.42rem;
	}

	.meter-menu-left,
	.meter-menu-right {
		width: 50%;
	}

	.meter-menu-left .menu-dal,
	.meter-menu-right .menu-dal {
		word-break: break-all;
		width: 100%;
	}

	.menu-dal .title {
		min-width: 80px;
	}
</style>
